@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  letter-spacing: 1px;
}

html {
  background-color: #e8e8e8 !important;
}

body {
  font-family: 'Inter', sans-serif !important;
}

readiesely {
  padding: 0;
  color: rgba(0,0,0,.8)
}

readiesely > strong {
  color: rgba(0,0,0,1)
}